body {
    margin: 0;
    padding: 0;
    background: url("https://tiny.pl/wgvq5"), center;
    background-size: cover;
}

#wrapper canvas {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: 2px solid #ffffff;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}